%cond-light {
    font-family: 'OpenSans-CondLight', sans-serif;
    font-weight: 300;
}

%cond-bold {
    font-family: 'OpenSans-CondBold', sans-serif;
    font-weight: 700;
}

%regular {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
}

%semiBold {
    font-family: 'OpenSans-Semibold', sans-serif;
    font-weight: 600;
}

%bold {
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: 700;
}